[project]
	description = Repository of OpenStack Templates for Scale Lab Use
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joe (rook) (jtaleric)
[access "refs/for/refs/*"]
	read = group user/Joe (rook) (jtaleric)
	push = group user/Joe (rook) (jtaleric)
	label-Code-Review = -2..+2 group user/Joe (rook) (jtaleric)
	label-Verified = -1..+1 group user/Joe (rook) (jtaleric)
	rebase = group user/Joe (rook) (jtaleric)
	removeReviewer = group user/Joe (rook) (jtaleric)
	submit = group user/Joe (rook) (jtaleric)
[access "refs/heads/*"]
	read = group user/Joe (rook) (jtaleric)
	create = group user/Joe (rook) (jtaleric)
	push = +force group user/Joe (rook) (jtaleric)
	pushMerge = group user/Joe (rook) (jtaleric)
[access "refs/tags/*"]
	push = group user/Joe (rook) (jtaleric)
	push = +force group user/Joe (rook) (jtaleric)
